.phone-box{position:fixed;bottom:0;right:0;height:98%}
#phone{height:100%;position:relative}
#phone img.box{height:inherit;z-index:100;position:relative}
#phone div.wallpaper{background-color:#2e2f30;background-color:var(--color);background-image:var(--wp);background-repeat:no-repeat;background-position:center;background-size:cover;background-blend-mode:multiply;border-radius:3.5vh;position:absolute;top:2%;left:5%;height:96%;width:91%}
#phone .inbox{margin:5.5% 6% 0 6%;height:95.4%;width:88.6%;position:absolute;top:0;z-index:500}
.inbox :is(.head,.body,.end){width:100%}
.inbox .head{height:3.8%;display:flex;padding:0 2%;width:96%}
.inbox .head :is(.noti,.sys){align-items:center;color:#fff;font-family:system-ui;font-weight:500;height:100%;display:flex;width:21%;max-width:22%}
.inbox .head .noti{margin:auto;margin-left:2%}
.inbox .head .sys{margin:auto;margin-right:1%;direction:rtl}
.inbox .head .sys img{height:36%;width:auto;margin:auto}
.inbox .body{height:93%}
.inbox .body div.grid{display:grid;grid-template-columns:1fr 1fr 1fr 1fr;min-height:10%}
.inbox .body div.moveable{margin-top:5%;height:80.06%;display:flex;position:relative}
.inbox .body div.moveable .grid{transition:.3s;height:100%;width:100%;grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;grid-gap:1%;position:absolute;top:0;left:0;clip-path:polygon(100% 0,100% 0,100% 100%,100% 100%)}
.inbox .body div.moveable.p2 .p1,.inbox .body div.moveable.p3 .p2,.inbox .body div.moveable.p4 .p3,.inbox .body div.moveable.p5 .p4{clip-path:polygon(0 0,0 0,0 100%,0 100%)}
.inbox .body div.moveable.p1 .p1,.inbox .body div.moveable.p2 .p2,.inbox .body div.moveable.p3 .p3,.inbox .body div.moveable.p4 .p4,.inbox .body div.moveable.p5 .p5{clip-path:polygon(0 0,100% 0,100% 100%,0 100%)}
.inbox .body div.dots{height:8.7%;width:100%;display:flex}
.inbox .body div.dots .min{height:fit-content;width:fit-content;margin:auto;display:flex;justify-content:center}
.inbox .body div.dots .dot{color:#aaa;margin:auto 45%;transform:scale(1.7);cursor: pointer;}
.inbox .body div.dots .dot:nth-child(1){margin:auto 45%;margin-left:0}
.inbox .body div.dots .dot:nth-last-child(1){margin:auto 45%;margin-right:0}
.inbox .body div.dots .dot.a{color:#fff}
.inbox .body div.pins{height:11%;width:96%;margin:auto;display:flex;background-color:#3838388c;backdrop-filter:blur(10px);border-radius:3.5vh 3.5vh 4vh 4vh}
.app .icon,.app .icon:after,.app .icon:before{background-image:url(/assets/img/icons/apps.webp);background-size:calc(10 * var(--s));background-position:calc(-1 * var(--s) * var(--x)) calc(-1 * var(--s) * var(--y))}
.inbox .body .fix-box{display:flex;height:100%;width:100%}
.inbox .body div.pins .fix-box{width:25%}
.inbox .body .app{height:95%;width:80%;margin:4% auto auto auto;position:relative;cursor:pointer}
.inbox .body div.pins .app{display:flex;margin:auto;height:87.5%}
.inbox .app .icon{--s:100%;height:77%;width:95%;margin:auto}
.inbox .body div.pins .app .icon{height:96%}
.inbox .app .detail::before{content:attr(title);position:absolute;height:30%;width:100%;color:#fff;bottom:-7%;width:100%;text-align:center;font-family:system-ui;font-weight:100;white-space:nowrap;clip-path:polygon(0 0,100% 0,100% 100%,0 100%)}
.inbox .body div.pins .app .detail::before{display:none}
.inbox .body .widget{grid-column:1/3;grid-row:1/3;display:flex}
.inbox .end{height:3.2%;display:none}
.inbox .end .stick{height:17%;border-radius:5px;background-color:#aaa;width:35%;margin:auto}
.inbox .body .app.clock .detail .sticks{position:absolute;height:61%;top:8%;left:13%;transform:rotate(-90deg);width:75%}
.inbox .body .app.clock .detail .sticks :is(.cl-1,.cl-2,.cl-3,.cl-4){transition:1s ease;position:absolute;height:100%;width:100%;top:0;left:0}
.inbox .body .app.clock .detail .sticks :is(.cl-1,.cl-2,.cl-3,.cl-4)::before{content:"";border-radius:2px;height:1%;width:40%;left:50%;top:49%;background-color:#000;position:absolute}
.inbox .body .app.clock .detail .cl-1::before{background-color:orange!important;width:45%!important}
.inbox .body .app.clock .detail .cl-3::before{width:25%!important}
.inbox .body .app.calendar .detail span{position:absolute;top:30%;transform:scale(2);color:#000;font-family:system-ui;font-weight:400;width:100%;text-align:center;text-transform:capitalize}
.inbox .body .app.calendar .detail span.text{top:10%;color:red;transform:scale(.8)}